<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeaksExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FDF43B81D1B0D9400994E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FDF43D11D1B0D9400994E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FDF43DC1D1B0D9400994E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
